body{

    background-color: #f2f1f1fe;
    color: #5c1dffff;
}

h6:hover{

    cursor: pointer;
    background-color: gainsboro;
    border: 1px solid;
    border-radius: 15px;
}

lottie-player{

    margin-left: auto;
    margin-right: auto;
    display: block;
}